.M_Switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.M_FilterTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}

.M_SelectField {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  max-height: 10rem;
  overflow-y: auto;
  border: 2px solid rgba(100, 148, 237, 0.7);
  border-radius: 0 0 0.5rem 0.5rem;
}
.M_Search {
  display: flex;
  margin: 50px auto;
  width: 400px;
  font-size: 16px;
  gap: 16px;
}

.M_PostTeaser {
  display: block;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 14px;
  padding: 14px 16px;
  background-color: #fff;
  width: 30%;
}
.M_SearchForm {
  width: 100%;
  display: flex;
  gap: 16px;
}
.M_PostSuggestion {
  text-decoration: none;
  display: block;
  padding: 12px 14px;
  background-color: white;
  transition: background-color 0.4s ease;
  border-top: 1px solid #ddd;
}
.M_PostSuggestion:hover {
  background-color: #f5faff;
  border-color: #f5faff;
  border-radius: 14px;
  transition: background-color 0.4s ease;
}
