/*
@media screen and (max-width: 767px) {
  .S_Stories {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .S_Stories {
    grid-template-columns: repeat(1, 1fr);
  }
}
*/
